{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>الصفحة الرئيسية</title>
</head>
<body>
    <h1>مرحباً بيك في موقعنا 🎉</h1>
    <p>دي الصفحة الرئيسية للموقع.</p>


    <!-- في pages/home.html -->


<!-- قسم الصيدليات باستخدام template جاهز -->
<section class="pharmacies-section">
    <h2>أحدث الصيدليات</h2>
    {% for pharmacy in pharmacies %}
        {% include 'pharmacies/pharmacy_list' with pharmacy=pharmacy %}
    {% endfor %}
</section>
{% endblock %}